In [3]:
import pandas as pd
import numpy as np

In [4]:
cars = pd.read_csv("data/vehicles.csv")
cars_original = cars.copy()

Explore the dataset:

In [5]:
cars.iloc[15000:15003]

      Make          Model  ...  CO2 Emission Grams/Mile  Fuel Cost/Year
15000  GMC  K15 Jimmy 4WD  ...               636.250000            2250
15001  GMC  K15 Jimmy 4WD  ...               683.615385            2550
15002  GMC  K15 Jimmy 4WD  ...               634.785714            2400

[3 rows x 15 columns]

In [6]:
cars.head(3)

         Make                Model  ...  CO2 Emission Grams/Mile  Fuel Cost/Year
0  AM General    DJ Po Vehicle 2WD  ...               522.764706            1950
1  AM General     FJ8c Post Office  ...               683.615385            2550
2  AM General  Post Office DJ5 2WD  ...               555.437500            2100

[3 rows x 15 columns]

In [7]:
cars["Fuel Type"].value_counts()

Regular                        23587
Premium                         9921
Gasoline or E85                 1195
Diesel                           911
Premium or E85                   121
Midgrade                          74
CNG                               60
Gasoline or natural gas           20
Premium and Electricity           20
Premium Gas or Electricity        17
Regular Gas and Electricity       16
Gasoline or propane                8
Regular Gas or Electricity         2
Name: Fuel Type, dtype: int64

In [8]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [9]:
cars["Engine Displacement"].max()

8.4

In [10]:
cars.shape

(35952, 15)

In [11]:
cars.describe()

              Year  ...  Fuel Cost/Year
count  35952.00000  ...    35952.000000
mean    2000.71640  ...     1892.598465
std       10.08529  ...      506.958627
min     1984.00000  ...      600.000000
25%     1991.00000  ...     1500.000000
50%     2001.00000  ...     1850.000000
75%     2010.00000  ...     2200.000000
max     2017.00000  ...     5800.000000

[8 rows x 9 columns]

Drop the column "Combined MPG"

In [12]:
cars.drop(["Combined MPG"], axis=1, inplace=True)

In [13]:
# Change column names to these ones:
col_names = ["Brand", "Model", "Year", "Engine_cc", "Cyl", "Trans", "Drivetrain", "Class", "Fuel_type", "Barrels_per_year", "City_MPG", "Highway_MPG", "CO2_grams_per_mile", "Fuel_cost_per_year"]

In [14]:
cars.columns = col_names

What brand has the most cars?

In [15]:
cars["Brand"].value_counts()

Chevrolet                           3643
Ford                                2946
Dodge                               2360
GMC                                 2347
Toyota                              1836
                                    ...
Shelby                                 1
Lambda Control Systems                 1
Excalibur Autos                        1
Environmental Rsch and Devp Corp       1
Panos                                  1
Name: Brand, Length: 127, dtype: int64

What brand has the worse CO2 Emissions on average?

In [16]:
cars.sort_values("CO2_grams_per_mile", ascending=False)

             Brand     Model  ...  CO2_grams_per_mile  Fuel_cost_per_year
20897  Lamborghini  Countach  ...         1269.571429                5800
20898  Lamborghini  Countach  ...         1269.571429                5800
20896  Lamborghini  Countach  ...         1269.571429                5800
20895  Lamborghini  Countach  ...         1269.571429                5800
20894  Lamborghini  Countach  ...         1269.571429                5800
...            ...       ...  ...                 ...                 ...
7917     Chevrolet      Volt  ...           51.000000                 800
7916     Chevrolet      Volt  ...           51.000000                 800
3070           BMW    i3 REX  ...           40.000000                1050
3069           BMW    i3 REX  ...           40.000000                1050
3071           BMW    i3 REX  ...           37.000000                1050

[35952 rows x 14 columns]

In [17]:
cars.groupby(["Brand", "Model"])[["Barrels_per_year", "CO2_grams_per_mile"]].mean()

                                      Barrels_per_year  CO2_grams_per_mile
Brand            Model
AM General       DJ Po Vehicle 2WD           19.388824          522.764706
                 FJ8c Post Office            25.354615          683.615385
                 Post Office DJ5 2WD         20.600625          555.437500
                 Post Office DJ8 2WD         25.354615          683.615385
ASC Incorporated GNX                         20.600625          555.437500
...                                                ...                 ...
Yugo             GV/GVX                      12.846338          346.365128
                 Gy/yugo GVX                 13.184400          355.480000
smart            fortwo cabriolet             9.255855          247.572917
                 fortwo convertible           9.155833          246.861111
                 fortwo coupe                 9.181993          246.630556

[3676 rows x 2 columns]

Create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [18]:
cars.groupby("Year").mean()

      Engine_cc       Cyl  ...  CO2_grams_per_mile  Fuel_cost_per_year
Year                       ...
1984   3.927752  6.102326  ...          570.355997         2125.891473
1985   3.170462  5.388362  ...          487.234897         1840.101202
1986   3.184764  5.430976  ...          490.418652         1859.343434
1987   3.138815  5.384808  ...          495.114201         1881.886477
1988   3.201698  5.469169  ...          493.516114         1885.701519
1989   3.200710  5.476486  ...          498.483654         1919.299024
1990   3.218633  5.498127  ...          499.810605         1922.846442
1991   3.271747  5.603387  ...          504.652902         1964.884135
1992   3.279313  5.628726  ...          502.446334         1967.841012
1993   3.243083  5.595172  ...          493.817978         1932.869081
1994   3.342296  5.712513  ...          494.942139         1939.762151
1995   3.462069  5.868534  ...          502.428707         1971.605603
1996   3.236375  5.624511  ...          479.376490         1874.902216
1997   3.233775  5.671523  ...          482.636692         1900.993377
1998   3.226928  5.668774  ...          481.809726         1886.093552
1999   3.221135  5.713768  ...          482.368704         1894.867150
2000   3.216687  5.740024  ...          482.798719         1926.844015
2001   3.214634  5.756098  ...          484.449645         1938.802661
2002   3.270343  5.839750  ...          488.887512         1961.030177
2003   3.369729  5.961315  ...          494.414822         1998.307544
2004   3.393351  5.955076  ...          488.501954         1985.759209
2005   3.403806  5.945502  ...          486.555116         1989.446367
2006   3.553048  6.102821  ...          490.371458         2002.729754
2007   3.628508  6.166075  ...          488.015485         1997.291297
2008   3.639780  6.196791  ...          484.523750         1996.832770
2009   3.624852  6.122570  ...          472.388441         1911.707523
2010   3.501173  5.963899  ...          454.523335         1851.398917
2011   3.532473  5.998221  ...          451.248008         1840.524911
2012   3.482704  5.948200  ...          440.319625         1808.384548
2013   3.367209  5.831336  ...          424.288071         1751.883562
2014   3.329480  5.815029  ...          417.881090         1738.150289
2015   3.250396  5.715190  ...          408.878956         1701.621835
2016   3.132899  5.609935  ...          400.367264         1668.973941
2017   3.153326  5.696616  ...          406.340723         1701.050175

[34 rows x 7 columns]

In [19]:
cars["Year_range"] = pd.qcut(cars["Year"], 
                             q=4,
                             labels=["80s", "90s", "00s", "10s"])

In [20]:
cars.groupby("Year_range")["Year"].max()

Year_range
80s    1991
90s    2001
00s    2010
10s    2017
Name: Year, dtype: int64

In [21]:
cars["Year_range"] = pd.cut(cars["Year"], 
                      bins = [1980, 1990, 2000, 2010, 2020], 
                      labels=["80s", "90s", "00s", "10s"])

Did cars consume more gas in the eighties?

In [22]:
cars.columns

Index(['Brand', 'Model', 'Year', 'Engine_cc', 'Cyl', 'Trans', 'Drivetrain',
       'Class', 'Fuel_type', 'Barrels_per_year', 'City_MPG', 'Highway_MPG',
       'CO2_grams_per_mile', 'Fuel_cost_per_year', 'Year_range'],
      dtype='object')

In [23]:
cars.groupby("Year_range")[["City_MPG", "Highway_MPG"]].mean()

             City_MPG  Highway_MPG
Year_range
80s         17.287913    22.382412
90s         16.945359    22.930091
00s         16.955273    23.387355
10s         19.744963    27.128144

Which brands are more environment friendly?

In [24]:
cars.groupby("Brand")["CO2_grams_per_mile"].mean().sort_values()

Brand
Fisker                                 169.000000
smart                                  247.030556
Fiat                                   304.666560
Daihatsu                               310.188060
MINI                                   313.716862
                                         ...
Laforza Automobile Inc                 807.909091
Bugatti                                873.062500
Superior Coaches Div E.p. Dutton       888.700000
S and S Coach Company  E.p. Dutton     888.700000
Vector                                1049.159722
Name: CO2_grams_per_mile, Length: 127, dtype: float64

Does the drivetrain affect fuel consumption?

In [25]:
# We can also sort by 2 columns 
# (the second column only matters in case there's a tie sorting by the first one)
cars.groupby("Drivetrain")[["City_MPG", "Highway_MPG"]].mean().sort_values(["City_MPG", "Highway_MPG"])

                             City_MPG  Highway_MPG
Drivetrain
Part-time 4-Wheel Drive     14.620253    19.088608
4-Wheel or All-Wheel Drive  15.035061    19.633708
Rear-Wheel Drive            15.422049    21.225680
2-Wheel Drive               15.624113    19.340426
4-Wheel Drive               16.913989    22.741966
All-Wheel Drive             18.312898    25.597352
Front-Wheel Drive           21.174563    28.616759
2-Wheel Drive, Front        25.000000    33.000000

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [ ]:
# Tomorrow we will use regex to divide cars into "Auto" and "Manual"

Using different aggregations for different columns:

In [26]:
cars.groupby('Fuel_type').aggregate({'Cyl': 'max',
                                     'Year': 'min',
                                     'City_MPG':'mean'})

                              Cyl  Year   City_MPG
Fuel_type
CNG                           8.0  1993  15.966667
Diesel                       10.0  1984  21.173436
Gasoline or E85               8.0  2000  15.347280
Gasoline or natural gas       8.0  2000  13.700000
Gasoline or propane           8.0  2001  12.000000
Midgrade                      8.0  2011  14.851351
Premium                      16.0  1985  16.793166
Premium Gas or Electricity    8.0  2011  30.705882
Premium and Electricity       8.0  2014  24.900000
Premium or E85               12.0  2004  17.305785
Regular                      12.0  1984  17.970195
Regular Gas and Electricity   4.0  2012  43.125000
Regular Gas or Electricity    4.0  2016  43.000000

We want to use "Drivetrain" in a statistical model. Convert the column to numeric.

In [27]:
pd.get_dummies(cars["Drivetrain"])

       2-Wheel Drive  ...  Rear-Wheel Drive
0                  1  ...                 0
1                  1  ...                 0
2                  0  ...                 1
3                  0  ...                 1
4                  0  ...                 1
...              ...  ...               ...
35947              0  ...                 1
35948              0  ...                 1
35949              0  ...                 1
35950              0  ...                 1
35951              0  ...                 1

[35952 rows x 8 columns]

In [28]:
dummies_drivetrain = pd.get_dummies(cars["Drivetrain"])

In [29]:
pd.concat([cars, dummies_drivetrain], axis=1).drop("Drivetrain", axis=1).head(3)

        Brand                Model  ...  Part-time 4-Wheel Drive  Rear-Wheel Drive
0  AM General    DJ Po Vehicle 2WD  ...                        0                 0
1  AM General     FJ8c Post Office  ...                        0                 0
2  AM General  Post Office DJ5 2WD  ...                        0                 1

[3 rows x 22 columns]

Join the cars dataframe with the car brands dataframe.

In [31]:
people = pd.read_csv("data/people.csv")
people

    name  age country
0    Pol   22      ES
1   Javi   20      ES
2  Maria   23      AR
3   Anna   24      FR
4   Anna   24      UK
5   Javi   30      MA
6    Dog    2      XX

In [32]:
people.rename(columns={"country":"country_code"}, inplace=True)
people

    name  age country_code
0    Pol   22           ES
1   Javi   20           ES
2  Maria   23           AR
3   Anna   24           FR
4   Anna   24           UK
5   Javi   30           MA
6    Dog    2           XX

In [33]:
countries = pd.read_csv("data/country_info.csv")
countries.head(3)

  country country_name  pop
0      ES        Spain   46
1      PT     Portugal   11
2      IT        Italy   61

In [34]:
people.merge(right=countries, how="left", left_on="country_code", right_on="country")

    name  age country_code country    country_name   pop
0    Pol   22           ES      ES           Spain  46.0
1   Javi   20           ES      ES           Spain  46.0
2  Maria   23           AR      AR       Argentina  43.0
3   Anna   24           FR      FR          France  63.0
4   Anna   24           UK      UK  United Kingdom  65.0
5   Javi   30           MA      MA           Malta   2.0
6    Dog    2           XX     NaN             NaN   NaN

#### Joining cars & car_brands

In [35]:
car_brands = pd.read_csv("data/car_brands.csv")

A "left" join and an "inner" join produce the same output, because the brands are the same in both tables:

In [36]:
set(cars.Brand.unique()) == set(car_brands.brand.unique())

True

In [37]:
len(cars.merge(right=car_brands, how="left", left_on="Brand", right_on="brand"))

35952

In [38]:
len(cars.merge(right=car_brands, how="inner", left_on="Brand", right_on="brand"))

35952

But if we remove a brand from car_brands, an "inner" join outputs fewer rows:

In [39]:
car_brands.drop([0], inplace=True)

In [40]:
len(cars.merge(right=car_brands, how="inner", left_on="Brand", right_on="brand"))

35948

In [41]:
len(cars.merge(right=car_brands, how="left", left_on="Brand", right_on="brand"))

35952